* {
    font-size: 10px;
    font-family: 'Itim', cursive;
    text-align: center;
}

#main {
    background-color: #ecf0f1;
    margin: 50px;
}

#title {
    font-size: 5.2rem;
    padding: 10px;
    margin-bottom: 0;
    font-family: 'Oxygen', sans-serif;
}

#p-title {
    font-size: 2rem;
    margin-top: -5px;
    padding-bottom: 20px;
}

#img-div {
    background-color: #fff;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
}

#image {
    width: 90%;
    height: 90%;
    object-fit: contain;
    padding: 20px;
}

figcaption {
    font-size: 1.7rem;
}

#tribute-info  {
    margin: 10px;
    padding: 10px;
}

#tribute-info h3 {
    font-size: 2rem;
    padding-bottom: 0.75em;
}

#tribute-info ul {
    width: 40vw;
    margin: 0 auto;
}

#tribute-info strong {
    font-size: 1.8rem;
    padding-right: 0.75em;
    padding-bottom: 0.1em;
    padding-left: 0.3em;
    display: inline-block;
}

#tribute-info li {
    font-size: 1.6rem;
    text-align: left;
    padding-bottom: 1em;
    font-family: 'Oxygen', sans-serif;
}

em, cite {
    font-size: 1.6rem;
    font-family: 'Oxygen', sans-serif;
}

blockquote {
    width: 30vw;
    margin: 1.5em auto;
    padding-top: 2em;
}

#p-link {
    font-size: 2rem;
    padding: 1em;
}

#tribute-link {
    font-size: 1em;
}